body{
    margin:0px;
    padding:0px;
    font-family: 'Baloo Bhai 2', cursive;
color: azure;
     background: url('img/gympic.jpg') no-repeat;
     background-size: cover;
     background-attachment: fixed;
}

.left{
    position: absolute;
    display: inline-block;
    font-family: 'Baloo Bhai 2', cursive;
    top: 22px;
   /* border:2px solid blueviolet;*/
}
.left img{
    width: 20%;
    filter:invert(100%)
}
.right{
    position: absolute;
    top:22px;
    right:30px;
    /*border:2px solid  gold;*/
    display: inline-block;

}
.middle{
    display: block;
    width: 45%;
    border:5px solid  orangered;
    margin: 22px auto;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li a{
    font-family: 'Baloo Bhai 2', cursive;
    color:ivory;
    text-decoration: none;
    padding: 20px 30px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: none;
    color: orangered;
}
.btn{
    margin: 0px 9px;
    background-color: black;
    color:rgb(251, 222, 222);
    padding:4px 14px;
    border:3px solid skyblue;
    border-radius: 20%;
    font-size: 20px;
    font-family: 'Baloo Bhai 2', cursive;
    cursor:pointer;
}
.btn:hover{
    background-color: rgb(51, 36, 66);
    border:3px solid steelblue;
    color:rgb(192, 214, 223);
   
}
.container{
   
    width:35%;
    
    color:rgb(113, 14, 138);
    font-size: 16px;
   /* border: 4px solid black;*/
    border-radius: 5%;;
    margin:2.5% 2%;
    padding:1% 1%;
}
.container h1{
    font-family: 'Baloo Bhai 2', cursive;
    color:rgb(255 125 12);
    text-align: center;
}
.form-group input{
    font-family: 'Baloo Bhai 2', cursive;
    display:block;
    width:40%;
    padding: 2%;
    border: 2px solid rgb(19, 8, 172);
    border-radius: 05%;
    text-align: center;
    font-size: 22px;
    margin: 11px auto;

}
.container button{
    display:block;
    width:20%;
    margin:30px auto
}